{{define "home"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Papery : Discover Unique Wallpapers</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Questrial&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="/assets/CSS/home.css">
    <link rel="stylesheet" href="/assets/CSS/universal.css">
</head>

<body>

  <div class="nav-container">
    <nav>
      <div class="nav-left-section">
        <p class="logo">Papery</p>
      </div>
      <div class="nav-right-section">
        <a href="#">Home</a>
        <a href="#">favorite</a>
        <a href="#">about</a>
        <a href="#">idk</a>
      </div>
    </nav>
  </div>

  <main>
    <div class="qoute-container">
      <div class="qoute">
        <h2>
          Personalize Your Desktop with Endless Inspiration
        </h2>
      </div>
    </div>
    <div class="description-qoute">
      <div class="description">
        Explore a world of stunning wallpapers to personalize your screen and elevate your digital experience.
      </div>
    </div>
    

    <div class="sliding-photos">
      <img src="https://images.unsplash.com/photo-1685871286419-58e4fc0de8e1?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <img src="https://images.unsplash.com/photo-1533470192478-9897d90d5461?q=80&w=2135&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <img src="https://images.unsplash.com/photo-1518640467707-6811f4a6ab73?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <img src="https://images.unsplash.com/flagged/photo-1567400358593-9e6382752ea2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <img src="https://images.unsplash.com/photo-1735845078210-953081cee65d?q=80&w=2693&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <img src="https://images.unsplash.com/photo-1736210811075-7509d5023a4a?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
     <img src="https://images.unsplash.com/photo-1735194750269-c4597dbb405c?q=80&w=2664&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
     <img src="https://images.unsplash.com/photo-1735181056575-1f05648efbad?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    </div>
  </main>

  <section>
    <div class="search-catagorize">
      <div class="select">
        <select class="catagorize-selector" name="Photos" id="type-of-content">
          <option value="Photos">Photos</option>
          <option value="Videos">Videos</option>
        </select>
      </div>
      <input class="search" type="text" placeholder="Search">
      <div class="search-icon">
        <img src="/assets/Icons/ci--search-magnifying-glass.svg" alt="search-icon">
      </div>
    </div>
    <div class="categories">
      <a href="#">Nature</a>
      <a href="#">Mountains</a>
      <a href="#">Sunsets & Sunrises</a>
      <a href="#">Abstract</a>
      <a href="#">Gradients</a>
      <a href="#">Classic Cars</a>
      <a href="#">Galaxies</a>
      <a href="#">Space</a>
    </div>
  </section>
<!--
  <div class="photos">
    <div class="Photos-grid">
      {{range .Photos}}
      <a href="/details">
        <img class="wallpapers" src="{{.Src.Original}}" alt="wallpapers">
      </a>
      {{end}}
      -->
      <footer>
        <div class="Pexels-footer">
          <p>© 2025 PAPERY. All rights reserved. </p>
          <p>Photos provided by <a href="https://www.pexels.com/">Pexels</a></p>
        </div>
      </footer>
</body>

</html>
{{end}}